
#define J1939_CAN_BAUDRATE               (250000)
#define J1939_RX_FIFO_SZ                 (32)
#define J1939_TX_FIFO_SZ                 (32)
#define J1939_RX_TX_ERROR_FIFO_SZ        (32)
#define J1939_TP_RX_SESSIONS_NUM         (32)
#define J1939_TP_TX_SESSIONS_NUM         (32)
#define J1939_TP_MGR_MAX_PACKETS_PER_CTS (8)
#define J1939_MAX_DATA_SZ                (1785)
#define J1939_MAX_HANDLES_NUM            (1)
